@tailwind base;
@tailwind components;
@tailwind utilities;

/* ! General */
@layer utilities {
  .min-nav-height {
    @apply min-h-[calc(100svh-88px)];
  }
}
h1,
h2,
h3,
h4,
h5 {
  text-wrap: pretty;
}
h2,
h3,
h4,
h5,
h6 {
  @apply font-space_grotesk;
}
p,
body,
div,
span {
  @apply font-roboto;
}

/* ! Scrollbar */
::-webkit-scrollbar {
  width: 16px; /* scrollbar verticale */
  height: 16px; /* scrollbar horizontale */
}
::-webkit-scrollbar-thumb {
  /* curseur */
  background-color: #000000;
  border-radius: 20px;
  border: 1.5px solid #6e6c6b;
}
::-webkit-scrollbar-track {
  /* arrière-plan de la scrollbar */
  background-color: #303030;
}

/* ! CardHeader.js */
.preserve-3d {
  transform-style: preserve-3d;
}
.neonWhite::before {
  position: absolute;
  content: " ";
  display: block;
  width: 160px;
  height: 160%;
  background: linear-gradient(
    90deg,
    transparent,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    transparent
  );
  animation: rotation_481 20000ms infinite linear;
}
.neonYellow::before {
  position: absolute;
  content: " ";
  display: block;
  width: 160px;
  height: 160%;
  background: linear-gradient(
    90deg,
    transparent,
    #fff3b0,
    #fff3b0,
    #fff3b0,
    #fff3b0,
    /* #ffe967,
    #ffe967,
    #ffe967,
    #ffe967, */ transparent
  );
  animation: rotation_481 20000ms infinite linear;
}
.neonGold::before {
  position: absolute;
  content: " ";
  display: block;
  width: 160px;
  height: 160%;
  background: linear-gradient(
    90deg,
    transparent,
    #b8860b,
    #b8860b,
    #b8860b,
    #b8860b,
    transparent
  );
  animation: rotation_481 20000ms infinite linear;
}
@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
